/* removes default css styling */
body {
  all:unset;
}



/*      HEADER      */



/* Add a black background color to the top navigation */
.topnav {
  background-color: #323950;
  overflow: hidden;
  /*margin-bottom:50px;*/
  font-weight: bold;
}

/* Style the links inside the navigation bar */
.topnav a {
  height: 100%;
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  padding: 16px;
  display: block;
  font-size: 1.5em;
}

a.right {
  float: right;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1a2137;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3e4a70;
  color: white;
  font-size: 3em;
  padding:0px 16px;
}

#search_bar {
  width: 16%;
  margin-top: 10px;
  margin-bottom: 9px;
  margin-left: 100px;
  padding: 10px;
  color:white;
  font-size: 1em;
  background-color: #323950;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}
#search_button{
  font-size: 1em;
  padding: 10px;
  background-color: #3e4a70;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}





/*      BODY      */


#page-container {
  position: relative;
  display: inline-block;
  width: 100vw;
  min-height: 90vh;
  background-color: #555B70;
  /*background: url("/static/img/test_background.jpg") 10% 0 repeat;*/
  font-family: sans-serif;
}







/*     FOOTER     */


#footer {
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  min-height: 10vh;
  background-color: #393d4b;
  color: white;
  text-align: center;
}







/*    UPLOAD    */




h1 {
  font-family: Impact, sans-serif;
  color: #CE5937;
}

h3 {
  background-color: #434f77;
  text-align:left;
  padding: 20px;
  margin-bottom: 0;
  min-width:fit;
  font-size:2.5em;
  font-weight: bold;
  margin-top: 0;
  color:white;
  /*-webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;*/
}

h4 {
  margin-bottom:5px;
  font-size:1em;
}

#form_body p {
  font-size:0.7em;
  color: #636363;
}

.input{
  margin-bottom:25px;
}


.input-and-title {
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px solid gray;
    display: flex;
}

.input-title {
    flex: 0 0 60%;
}

.input {
    flex: 1;
}

#form_body{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
  border: 3px solid lightgray;
  padding: 25px;
  /*border-radius: 25px;*/
  background-color: #cecbcb;
}






/*    LIST     */



#prev_box {
  display: block;
  background-color: #cecbcb;
  cursor:pointer;
  /*border:2px solid black;*/
  border-radius:5px;
  padding:10px;
  padding-right:50px;
  padding-left:15px;
  width:200px;
  margin: 20px;
  text-decoration: none;
  color:black;
}

#prev_title {
  font-size:1.5em;
  font-weight:bold;
}

#prev_date{
  font-size:0.8em;
  margin-bottom:5px;
}

/*
#prev_user {
  max-width:fit-content;
  transition: background-color 0.5s;
}

#prev_user:hover {
  background-color:lightgray;
}*/





/*    CUSTOM BUTTON    */


.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #2b5979;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}




#input{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  border-radius: 10px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 40%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color: #f4f4f4;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);
}
  
#input:focus{
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
}






/*      DETAILS OF ASCENT        */


#ascent_video{
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding:15px;
  background-color: #636363;
  border: solid 1px black;
  border-radius: 12px;
}

#det_video{
  max-width: 800px;
  max-height: 800px;
}

#det_title {
  font-size: 1.7em;
  font-weight:600;
  color: white;
}

#det_date {
  font-size: 0.8em;
}

#det_grade {
  font-size: 1.5em;
  font-weight: bold;
}



#video_block {
  width: 100%;
  display: block;
  overflow: hidden;
}

#details_block {
  display: inline-block;
}

#title_side {
  float: left;
}

#grade_side {
  text-align: center;
  width:40px;
  height: 40px;
  line-height: 40px;
  float: right;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}