{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Log Ascents</title>
    <link rel="stylesheet" href="{% static 'ascents/styles.css' %}">
    <script src="{% static 'ascents/scripts.js' %}"></script>
  </head>
  <body>
    <div id="page-container">
      <div class="topnav">
        <a class="bigemoji active" href="{% url 'index' %}">⛰️</a>
        <!--<a href="{% url 'index' %}">Home</a>-->
        <a href="{% url 'upload-ascent' %}">Upload</a>
        <a href="{% url 'list' %}">List</a>
        <a href="">Ipsum</a>
        <a class="right" href="">Login</a>
      </div> 

      {% block content %}

      

      {% endblock %}
    </div>
    <footer id="footer"></footer>
  </body>
  
</html>