{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Log Ascents</title>
    <link rel="stylesheet" href="{% static 'ascents/styles.css' %}">
    <script src="{% static 'ascents/scripts.js' %}"></script>
  </head>
  <body>
    
    <div id="page-container">
      <form method="POST">
        {% csrf_token %}

        <div class="topnav">
          <a class="bigemoji active" href="{% url 'index' %}">⛰️</a>
          <a href="{% url 'upload-ascent' %}">Upload</a>
          <a href="{% url 'list' %}">List</a>
          <a href="">Ipsum</a>

          <input id="search_bar" type="text" placeholder="search bar" name="search_query">
          <input type="submit" id="search_button" value="🔎"> 
          
          <a class="right" href="">Login</a>
        </div> 

      </form>

      {% block content %}

      

      {% endblock %}
    </div>
    
    <footer id="footer"></footer>
  </body>
  
</html>