{% extends "../base.html" %}

{% block content %}
<h3>Details of the ascent</h3>
<div id="column_video">
  <div id="ascent_video">
    
    <div id="video_block">
    
      <video id="det_video" controls>
          <source src="{{ ascent.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    
    </div>
    <div id="details_block">
      
      <div id="title_side">
        <div id="det_title">
          {{ ascent.name }}
        </div>
        <div id="det_date">
          {{ ascent.date_uploaded|date:"F d, Y" }}
        </div>
      </div>
      
      <div id="grade_side">
        <div id="det_grade">
          {{ ascent.grade.name }}
        </div>
      </div>
    
    </div>
  </div>
</div>

<div id="column_user">
  <div id="det_user">
    <p>User: {{ ascent.user }}</p>
  </div>
</div>

<!--a href="{ % url 'user-profile' pk=ascent.user.pk % } ">{{ ascent.user.name }} </a-->


<a href="{% url 'ascent-delete' pk=ascent.pk %}" style="color:red;">Delete this ascent</a>
{% endblock %}