{% extends "../base.html" %}
{% load widget_tweaks %}

{% block content %}

<h3>Add an Ascent</h3>

<div id="form_body">

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input">
      <h4>Name</h4>
      {% render_field form.name %}
      <p>Note: if left empty the name will be generated as follow:" GRADE_NAME (DATE)"</p>
    </div>

    <div class="input">
      <h4>Date of the ascent</h4>
      {% render_field form.date_uploaded %}
    </div>

    <div class="input">
      <h4>Grade</h4>
      {% render_field form.grade %}
    </div>

    <div class="input_video">
      <h4>video</h4>
      {% render_field form.video %}
    </div>

    <div class="input">
      <h4>User</h4>
      {% render_field form.user %}
    </div>

    <input class="button-8" type="submit" value="upload">
  </form>
  <!--<a href="{% url 'index' %}">Back to index</a>-->
</div>

{% endblock %}